{% extends 'users/base-home.html' %}
{% block title %}
    Ajout Modules
{% endblock title %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark"> Nouveau Module</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a href="#" class="text-decoration-none"><img src="https://img.icons8.com/color/24/000000/arrow-pointing-left--v2.png"/> Back</a>
              </li>
                {% comment %} <li class="breadcrumb-item active"> <a href="{% url 'manage_modules' %}">Modules/Getion_Modules</a></li> {% endcomment %}
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </div>
      {% if messages %}
      <div class="login-box-msg mb-4 ml-4 col-12">
        {% for message in messages %}
        {% if message.tags == "error" %}
        <span class="alert alert-danger">{{message}}</span>
        {% endif %}
        {% if message.tags == "success" %}
        <span class="alert alert-success">{{message}}</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    <section class="content">
        <div class="container-fluid">
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Ajouter Module</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/add_module_save" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                    <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="example">Libelle module</label>
                                    <input type="text"
                                           class="form-control"
                                           id="example"
                                           placeholder="Analyse"
                                           name="module">
                                </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                                  <label>Semestre</label>
                                  <select class="form-control" name="semestre_id">
                                      <
                                      {% for semestre in semestres %}
                                          <option value="{{ semestre.id }}">
                                              {{ semestre.libelle_semestre }}
                                          </option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-dark btn-block">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
      </section>
  
{% endblock content %}
