{% extends "users/base-home.html" %} 
{% block title %} Profile Page {% endblock title %} 
{% block content %}
<div class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4">
      <h2 class="h5 mb-4">General information</h2>
      {% if user_form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
          {% for key, value in user_form.errors.items %}
          <strong>{{ value }}</strong>
          {% endfor %}
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12 mb-6">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="small mb-1">Username:</label>
                  {{ user_form.username }}
                  <label class="small mb-1">Email:</label>
                  {{ user_form.email }}
                </div>
                <div class="form-group">
                  <label class="small mb-1">Change Avatar:</label>
                  {{ profile_form.avatar }}
                </div>
                <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
              </div>
            </div>
            <br /><br />
            <button type="submit" class="btn btn-success btn-lg">
              Save Changes
            </button>
            <a 
            class="btn btn-info btn-lg"
             href="{% url 'password_change' %}">Change Password</a>

            <button type="reset" class="btn btn-danger btn-lg">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-4">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card shadow border-0 p-0">
          <div 
            class="profile-cover rounded-top"
            style="align: center"
          ></div>
          <div class="card-body pb-5">
            <img
              class="avatar-xl rounded-circle mx-auto mt-n7 mb-4"
              src="{{ user.profile.avatar.url }}"
              style="cursor: pointer"
            />
            <div class="form-group">
                <label class="medium text-right">Full Name :</label>
                <p class="text-gray mb-4">{{ request.user.first_name }} {{ request.user.last_name }}</p>
            </div>

            <div class="form-group">
                <label class="medium text-right">Email :</label>
                <p class="text-gray mb-4">{{ request.user.email }}</p>
            </div>

            <div class="form-group">
                <label class="medium text-right">User Name :</label>
                <p class="text-gray mb-4">{{request.user.username }}</p>
            </div>

            <div class="form-group">
                <label class="medium text-right">Bio :</label>
                <p class="text-gray mb-4">{{ user.profile.bio }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
